@import url('https://fonts.googleapis.com/css?family=Montserrat');

html {
    font-family: 'Montserrat', sans-serif;
}

nav {
    background-color: #212121;
    border: 0px solid white;
}

.brand-logo img {
    padding-left: 20px !important;
    position: relative;
    top: 7px;
}

body {
    background-color: #252525;
}

.sidenav {
    background-color: #252525;
}

.sidenav a {
    border-bottom: 0.1px solid white;
    color: white !important;
}

.content {
    color: #fff;
    text-align: center;
    padding-top: 40px;
}

.content p {
    font-size: 1.2em;
    font-weight: 400;
}